<div class="ct-outer">
  <div class="outer_container">
    <h1 class="title"><strong>Your Calendar 📆: </strong></h1>

    <div class="inner_container">
      <div class="innermost_container">
        <div class="calendar">
          <div class="calendar_inner">
            <div class="calendar_controls">
              <div class="calendar_headings"> 
                <h2 class="month_year"></h2> 
              </div> 

              <div class="current_datetime">
                <p class="daytxt">Today</p>
                <p class="datetxt"></p>
              </div>

              <div class="days_date">
                <ul class="days">
                  <li>Sun</li><li>Mon</li><li>Tue</li><li>Wed</li><li>Thu</li><li>Fri</li><li>Sat</li>
                </ul>
                <ul class="dates"><li></li></ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="below">
        <h3 class="projected_date">Projected start date is --</h3>
        <h2 class="days_countdown"># days left</h2>
        <button class="clear-button" onClick="window.location.reload();">Clear All</button>
      </div>
    </div>
  </div>
</div>
