{% extends "layout.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/css/about.css">
</head>
<body>
    <header>
        <h1>About Us</h1>
    </header>

    <main>
        <section id="team-info">
            <h2>Our Team</h2>
            <p>Our team consists of Gloria Ejikeme, Jackie Medrano, Jade Wilson, Nina Kesel, Olivia Dixon, and Prakriti Gautam.</p>
        </section>

        <section id="project-info">
            <h2>Project Overview</h2>
            <p>We are creating a web app that would act as a hub for tracking health and wellness. 
                This app will allow users to improve their health and wellness by offering searching for healthy and nutritious recipes, allow users to track their menstrual cycles and allow users to track their mood and energy.</p>
            <ul>
                <li>We’re doing the app for girls and women who either want to learn about self-care or simply keep track of their habits.</li>
                <li>We’re doing this to help more women learn about their personal needs and habits.</li>
                <li>We want to be able to impact this demographic and inspire them to be the best version of themselves as possible.</li>
            </ul>

        </section id="technologies-used">
            <h2>Technologies Used</h2>
            <ul>
                <li>Basic/Tools: GitKraken, Jira, Slack, Bitbucket, VS Code, and GitHub.</li>
                <li>Languages: Python, HTML, CSS, JavaScript.</li>
                <li>Database: MongoDB</li>
                <li>Frameworks/Libraries: Flask(backend API), React (Frontend), and Express (if used for additional Node services)</li>
            </ul>
    </main>
</body>
</html>

{% endblock %}