{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="../static/css/faq.css">
</head>

<body>
    <header>
        <h1>Frequently Asked Questions (FAQ)</h1>
    </header>

    <main>
        <section id="faq-list">
            <h2>General Questions</h2>
            <dl>
                <dt>What is Bloom Balance?</dt>
                <dd>Bloom Balance is a health and wellness web application designed to help users track their menstrual cycles, mood, energy levels, and find healthy recipes.</dd>
               
                <dt>Who is the target audience for Bloom Balance?</dt>
                <dd>Bloom Balance is primarily designed for Women, but it can be used by anyone.</dd>
                
                <dt>Is Bloom Balance free to use?</dt>
                <dd>Yes, Bloom Balance is completely free to use.</dd>
                
                <dt>How can I create an account?</dt>
                <dd>You can create an account by clicking on the "Sign Up" button on the homepage and filling out the registration form.</dd>
                
                <dt>What if my question isn't listed here?</dt>
                <dd>If you have any other questions, please feel free to <a href="contact.html">contact us</a>.</dd>
                
            </dl>
        </section>
    </main>
</body>
</html>
{% endblock %}