<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Profile Image</title>
    <link rel="stylesheet" href="imageChange.css">
</head>

<body>
    <div class="upload-container">
        <h2>Upload Profile Image</h2>
        <div class="image-preview" id="imagePreview">
            <img src="" alt="" id="profileImage" class="hidden">
        </div>
        <label for="imageInput" class="custom-file-label">Choose Image</label>
        <input type="file" id="imageInput" accept="image/*" hidden>
    </div>

    <script src="imageChange.js"></script>

</body>
</html>